@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: var(--font-neucha);
    background-color: #FFF9EB;
    color: #1D1C13;
}
.logo{
    font-family: var(--font-bebasNeue);
}


.cursor{
    cursor: pointer
}